<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Free ads</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/bootstrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/css.css">
</head>
<body>
    <header>Ads - Home</header>
    <section class="container" data-ng-app="adsApp">
        <section class="col-sm-2" id="left">
            <div>
                To publish a new add, please login.<br />
                <a href="#/login" class="button">Login</a><br />
                <a href="#/register" class="button">Register</a>
            </div>
        </section>

        <section data-ng-view=""></section>

        <section>
            <div class="col-sm-2">
                Categories
                <hr />
                <!--<ul data-ng-repeat="">-->
                    <!--<li></li>-->
                <!--</ul>-->
            </div>
            <div class="col-sm-2">
                Towns
                <hr />
                <!--<ul data-ng-repeat="">-->
                    <!--<li></li>-->
                <!--</ul>-->
            </div>
        </section>
    </section>
    <footer>2014 Software university foundation. No right reserved.</footer>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-resource.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/services/adsData.js"></script>
    <script src="scripts/controllers/NewAdController.js"></script>
    <script src="scripts/controllers/AllAdsController.js"></script>
    <script src="scripts/controllers/AllUserAdsController.js"></script>
    <script src="scripts/controllers/AdDetailsController.js"></script>
</body>
</html>