<ul ng-repeat="ad in data.ads">
    <div class="col-sm-6">
        <table id="adTable">
            <thead>
                <th>{{ad.title}}</th><th>{{ad.date}}</th>
            </thead>
            <tr>
                <td><img ng-src="{{ad.imageDataUrl}}" /></td><td>{{ad.text}}</td><td></td>
            </tr>
            <tr>
                <td></td><td>Name:</td><td>{{ad.ownerName}}</td>
            </tr>
            <tr>
                <td></td><td>Em@il:</td><td>{{ad.ownerEmail}}</td>
            </tr>
            <tr>
                <td></td><td>Tel:</td><td>{{ad.ownerPhone}}</td>
            </tr>
        </table>
    </div>
</ul>