<div data-ng-controller="AllCategoriesController" >
    <strong>Categories</strong>
    <hr />
    <ul><a href="#/ads">All</a></ul>
    <ul data-ng-repeat="category in categories">
        <a id="{{category.id}}" ng-click="getAdsByCategory(category)">{{category.name}}</a>
    </ul>
</div>
<div data-ng-controller="AllTownsController">
    <strong>Towns</strong>
    <hr />
    <ul><a href="#/ads">All</a></ul>
    <ul data-ng-repeat="town in towns">
        <a id="{{town.id}}" ng-click="getAdsByTown(town)">{{town.name}}</a>
    </ul>
</div>