<div data-ng-controller="AllCategoriesController" >
    <strong>Categories</strong>
    <hr />
    <ul><a href="#/ads">All</a></ul>
    <ul data-ng-repeat="category in categories">
        <a id="{{category.id}}" ng-click="getAdsByCategory(category)">{{category.name}}</a>
    </ul>
</div>
<div data-ng-controller="AllTownsController">
    <strong>Towns</strong>
    <hr />
    <ul><a href="#/ads">All</a></ul>
    <select data-ng-repeat="town in towns" data-ng-model="filterBy.id">
        <option value="{{id}}" >{{town.name}}</option>
    </select>
</div>