<div>
    <header class="panel-heading">
        <h1>Ads - {{pageTitle}}</h1>
    </header>
    <div id="wrapper">
        <div class="row">
            <div class="col-md-3">
                <div ng-include="'templates/public/left-sidebar.html'" ng-hide="isLoggedIn"></div>
                <div ng-include="'templates/directives/logged-in-sidebar.html'" ng-show="isLoggedIn"></div>
            </div>
            <div class="col-md-6">
                <public-ads></public-ads>
            </div>
            <div class="col-md-3">
                <categories></categories>
                <towns></towns>
            </div>
        </div>
    </div>
</div>