.adImg{
    width: 300px;
    max-height: 300px;
}

img{
    height: auto;
    max-height: 100%;

    width: auto;
    max-width: 100%;
}

div > h4{
    width: 200px;
}
div > h4 {
    margin: 0;
}
div > h4:nth-of-type(2n) {
    background: #485563;
}

#adPanel {
    border: 5px solid #5bc0de;
}

#categories, #towns{
    width: 200px;
    margin: 20px auto;
    /*border: 5px solid #5bc0de;*/
}
#categories h2, #towns h2{
    margin: 0;
}