*{
    font-size: 18px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

header, footer{
    height: 40px;
    background: #87E293;
    border: 1px solid #41924B;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
}

.container{
    background: #D7F4D4;
    width: 100%;
}

.left{
    height: 40px;
    background: #87E293;
    border: 1px solid #41924B;
    margin: 20px;
    padding: 20px;
    max-width: 200px;
    min-height: 180px;
    text-align: center;
}

a.button{
    width: 120px;
    background: #46D246;
    border: 1px solid #41924B;
    border-radius: 5px;
    margin: 8px;
    padding: 5px;
    color: #ffffff;
    display: inline-block;
}